/* UC Library Search Logo */
/* hide the logo on x-small screens */
.uc-library-search-logo {
    display: none;
  }
  /* no hover effect */
  .uc-library-search-logo button {
    background: transparent!important;
  }
  @media (min-width: 970px) {
    .search-wrapper {
      margin-left: 20%;
    }
    .search-wrapper .flex-lg-10 {
      display: none;
    }
    .search-wrapper .flex-lg-65 {
      max-width: 80%;
    }
    .uc-library-search-logo {
      display: block;
      width: 20%;
      text-align: center;
      top: 30px;
      position: absolute;
    }
    .uc-library-search-logo button {
      margin-top: 0;
    }
    .uc-library-search-logo img {
      width: 70%;
      max-width: 300px;
    }
  }
  @media (min-width: 1300px) {
    .uc-library-search-logo {
      top: 1.5em;
    }
  }
.prm-primary-bg.prm-hue1, prm-browse-search-bar.prm-hue1, prm-journals-search-bar.prm-hue1, prm-search-bar.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark::after, prm-tags-search-bar.prm-hue1, prm-topbar .top-nav-bar {
    background-color: #022851;
}

.prm-primary-bg, prm-browse-search-bar, prm-journals-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark::after, prm-tags-search-bar {
    background-color: #14447A;
}

prm-search-bar .advanced-search-backdrop {
    background-color: #14447A;
}

prm-search-bar .search-switch-buttons .md-button.switch-to-simple {
    color: #ffffff;
}

prm-search-bar .search-switch-buttons .md-button.switch-to-simple:hover:not([disabled]) {
    color: #53738c;
    background-color: #fff;
}
prm-main-menu[menu-type=full] .md-button .md-headline {
    color: #FFBF00;
}

.bar.alert-bar, .classic-input .search-scope, .prm-alert-bg {
    background-color: #ffffff;
}


/* Hide Tags in Detailed Display */
[aria-label="Tags"]{display:none;}
#tags{display:none;}

/* Hide Tags in Menu Tab */
a.md-button[aria-label="Tags"] {display:none;}
a.md-button[aria-label="nui.mainmenu.label.tags"] {display:none;}


prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background {
    background: #022851 !important;
}
#external-search-intro {
    padding-left: 1em;
    padding-right: 1em;
    color: #6d6d6d;
}
span.umnHathiTrustLink {
  margin-left: -5px;
}

span.umnHathiTrustLink md-icon svg {
  height: 1.2em;
  filter: grayscale(100%);
}

span.umnHathiTrustLink:hover md-icon svg {
  filter: grayscale(0%);
}